#root {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    background-color: #303030;
}

.dragged {

}

.board {
    width: 100vmin;
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 10px solid #5c4033;
}

.cell {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;

}

.menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 180);
    left: 0px;
    top: 0px;
}

.menu-box {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-title {
    width: 70px;
    height: 60px;
    color: #214b7b;

}

.btn {
    width: 200px;
    height: 50px;
    background-color: #cacaca;
    margin-top: 20px;
    color: #303030;
}

.highlight {
    background-color: #ffffff;
}