#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

#board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
}

#board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 65px;
    height: 65px;
}